
:root {
    --bg-color: var(--white);
    --bg-secondary-color: var(--light);
    --color-primary: var(--primary);
    --color-grey: var(--gray);
    --color-darkGrey: var(--gray-dark);
    --color-error: var(--danger);
    --color-success: var(--success);
    --grid-maxWidth: 96rem;
    --grid-gutter: 2rem;
    --font-size: 1rem;
    --font-color: var(--dark);
    --font-family-sans: -apple-system,BlinkMacSystemFont,Avenir,"Avenir Next","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-family-mono: monaco,"Consolas","Lucida Console",monospace;
}

html, button, input, optgroup, select, textarea {
    font-family: var(--font-family-sans);
}

.site-nav.nav-separated li:after {
    content: "";
    border-right: 2px solid #eee ;
    padding-right: 0.25em;
    margin-right: 0.25em;
}

#pollDiv ol li {
    margin: .33em 0;
}
#pollDiv .tag {
    --bg-color: var(--color-primary);
    box-shadow: 0 -1px 0 3px var(--bg-color), inset 0 0 0 1px var(--bg-color);
    background-color: var(--bg-color);
    top: 0;
    font-size: inherit;
}

.listmessage.form-control {
    padding-left: calc(1rem - 2px);
    border-bottom: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    flex-direction: column;
}
.listuser.form-label img {
    float: left;
    height: 1.8em;
    width: auto;
    margin-right: .25em;
}
.listmessage.form-control+.form-label:before {
    position: absolute;
    content: '';
    width: 2px;
    background-color: #fff;
    right: -2px;
    top: 0;
    bottom: 0;
}

.listmessage time {
    opacity: .5;
}

.listmessage .sig {
    padding: .5em 0;
    margin-top: .5em;
}